<!doctype html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <title>Gym Office</title>
</head>
<body>
<h1>Gym Office Employee</h1>
<div th:each="employee : ${employeeList}" th:object="${employee}">
    <h3 th:text="|Id: *{id}, Name: *{name}|"></h3>
    <div th:each="message : ${employee.getMessages()}">
    <h3 th:text="${message}"></h3>
    </div>
</div>
</body>
</html>
